.header-container {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 20px -2px lightgray;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logotype {
  width: 300px;
  margin: 0px 100px 0px 70px;
}

.header-button {
  color: #3d84a8;
  font-weight: 600;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, #fff, #3d84a8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  cursor: pointer;
  &:hover {
    background-size: 0 3px, 100% 3px;
    transition: all 0.6s ease-out;
  }
}

.hero-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 960px;
}

.hero-text {
  margin-top: 50px;
  color: #fff;
  width: 420px;
  font-weight: 750;
  font-size: 50px;
  text-align: center;
}

.hero-button {
  color: #3d84a8;
  font-weight: 600;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: white;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 3px #166289;
    transition: 0.5s;
  }
}

.howItWorks-header {
  display: flex;
  flex-direction: column;
  justify-items: left;
  --w: 1200px;
  width: var(--w);
  margin: 0 calc((100% - var(--w)) / 2);
}

.section-name {
  color: #92bbcf;
  margin: 60px 0px 0px 0px;
}

.section-title {
  color: #3d84a8;
}

.howItWorks-card-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  --w: 1200px;
  width: var(--w);
  margin: 20px calc((100% - var(--w)) / 2) 0px calc((100% - var(--w)) / 2);
  justify-content: space-between;
}

.howItWorks-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  width: 350px;
  border: 3px solid #fff;
  &:hover {
    border: 3px solid #166289;
    transition: all 0.9s ease-out;
    cursor: pointer;
  }
}

.one {
  background: linear-gradient(to right, #c9dbe4, #92bbcf);
}

.two {
  background: linear-gradient(to right, #92bbcf, #3d84a8);
}

.three {
  background: linear-gradient(to right, #3d84a8, #166289);
}

.how-card-name {
  margin: 20px 0px 0px 0px;
}

.fundraise-for {
  display: flex;
  flex-direction: row;
  justify-items: center;
  --w: 1200px;
  width: var(--w);
  margin: 120px calc((100% - var(--w)) / 2);
  justify-content: space-between;
}

.fundraise-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .section-name {
    margin: 150px 0px 0px 0px;
  }
  & .section-title {
    margin-bottom: 100px;
  }
}

.fundraise-for-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #92bbcf;
  background-color: #f0f7fa;
  font-weight: 600;
  font-size: medium;
  width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    border: solid 1px #166289;
    transition: all 0.9s ease-out;
    color: #3d84a8;
  }
}

.fundraise-for-button h2 {
  margin: 20px 0px 0px 0px;
}

.fundraiser-icon {
  width: 150px;
  margin: 40px 0px;
}

.fundraise-arrow {
  margin: 20px 0px 10px 0px;
}

.full-width {
  border-top: 1px solid #166289;
  border-bottom: 1px solid #166289;
}

.learn-more {
  display: flex;
  flex-direction: row;
  justify-items: left;
  --w: 1200px;
  width: var(--w);
  margin: 25px calc((100% - var(--w)) / 2);
  margin-bottom: 40px;
  justify-content: space-between;
  & .logotype {
    margin: 10px 0px 200px 0px;
  }
}

.link-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
}

.bold {
  font-weight: bold;
  margin: 30px 0px 10px 0px;
  padding: 0px 0px 0px 5px;
}

.learn-more .link-column a {
  text-decoration: none;
  padding: 5px 0px 5px 5px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 150px;
  &:hover {
    border: 1px solid #92bbcf;
    transition: all 0.5s ease-out;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  --w: 1200px;
  width: var(--w);
  margin: 45px calc((100% - var(--w)) / 2);
  justify-content: space-between;
  & .footer-terms {
    display: flex;
    flex-direction: row;
    justify-items: center;
    & h4 {
      margin: 20px 0px;
      font-weight: 100;
    }
    & a {
      margin: 20px 20px;
      text-decoration: none;
    }
  }
  & .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.app-stores {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 10px;
}

.socials a img {
  width: 20px;
}

.app-stores a img {
  width: 120px;
}

.urgent-topics-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  --w: 1200px;
  width: var(--w);
  margin: 20px calc((100% - var(--w)) / 2);
  justify-content: space-between;
  & .urgent-topics-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px 20px;
    border-radius: 15px;
    width: 350px;
    border: 3px solid #fff;
    &:hover {
      border: 3px solid #166289;
      transition: all 0.9s ease-out;
    }
    &:hover .topics-image {
      transform: scale(1.05);
      transition: 0.5s;
    }
    & .topics-image {
      width: 350px;
      height: 185px;
    }
    & .topic-row-two {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: space-between;
      & .topic-card-name {
        margin: 10px 0px;
      }
      & .topic-row-two-money {
        display: flex;
        justify-items: center;
        & h4 {
          margin: 10px 0px;
        }
      }
    }
    & .topic-text {
      font-weight: 400;
      margin-top: 0px;
      text-align: justify;
      height: 210px;
    }
    & .topic-row-four {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: space-between;
      & .topic-row-four-inputs {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 10px;
        & input {
          background-color: transparent;
          border-bottom: 1px solid #166289;
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
      & .topic-row-four-buttons {
        display: flex;
        flex-direction: row;
        justify-items: center;
        & .donation-button {
          margin-left: 10px;
          border-radius: 10px;
          background-color: transparent;
          border: 1px solid #166289;
          cursor: pointer;
          font-weight: bold;
          &:hover {
            transition: all 0.7s ease-out;
            background-color: #166289;
            color: #fff;
          }
        }
      }
    }
  }
}

.image-border {
  position: relative;
  overflow: hidden;
}

.image-border > img {
  overflow: hidden;
}

.urgent-topics-card:hover .image-border > img {
  transform: scale(1.05);
  transition: 0.5s;
}

.urgent-topics-card .image-border > img {
  max-width: 100%;
  max-height: 100%;
}
