.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logotype {
  width: 20%;
}

.header-button {
  color: #3d84a8;
  font-weight: 600;
  font-size: medium;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, #fff, #3d84a8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  cursor: pointer;
  &:hover {
    background-size: 0 3px, 100% 3px;
  }
}
